# ========= Node / React =========
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

build/
dist/

# ========= DFINITY / ICP =========
.dfx/
dfx-generated/
canister_ids.json
.env

# ========= OS / Editor =========
.DS_Store
Thumbs.db
*Zone.Identifier*

.vscode/
.idea/

# ========= Logs =========
logs/
*.log
